@import "../base/styles.css";

.v-app {
	/* Gray background to make flip effect more visible. */
	background: rgb(82, 85, 90) !important;
}

/* ROTATION effect for options view */
.mainview>div {
  	-webkit-perspective: 1000;
}

.options-dialog {
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: rotateY(180deg);	
  	-webkit-transition: -webkit-transform 1.0s linear;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.v-leaflet {
  	-webkit-transition: -webkit-transform 1.0s linear;
	-webkit-transform: rotateY(0deg);	
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.options-on .options-dialog {
	-webkit-transform: rotateY(0deg);	
	-webkit-backface-visibility: hidden;
}

.options-on .v-leaflet {
	-webkit-transform: rotateY(-180deg);	
	-webkit-backface-visibility: hidden;
}

/* Bigger font for buttons in nav bar (we use unicode characters as icons in this app) */
.v-tk .v-touchkit-navbar .v-button .v-button-wrap .v-button-caption {
	font-size: 26px;
}

/* Styling for image upload */
.photoupload .v-button {
	width: 56px;
}
.photoupload .v-csslayout-margin {
	padding-left:10px;
}

.v-upload .v-button-caption {
	width: 30px;
	height: 40px;
	background-image: url('camera.png');
	background-repeat: no-repeat;
	background-position: 0 3px;
	background-size: 30px 30px;
	display: block;
}

/* TabbarView not scrollable by default */
.v-touchkit-tabbar-wrapper {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	right: 0;
	left: 0;
	top: 0;
	bottom: 42px;
	position: absolute;
}
