@import "../base/styles.css";

.v-app {
	/* Gray background to make flip effect more visible. */
	background: rgb(82, 85, 90) !important;
}

/* ROTATION effect for options view */
.mainview>div>div {
  	-webkit-perspective: 1000;
}

.options-dialog {
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: rotateY(180deg);	
  	-webkit-transition: -webkit-transform 1.0s linear;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.v-openlayersmap {
  	-webkit-transition: -webkit-transform 1.0s linear;
	-webkit-transform: rotateY(0deg);	
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.options-on .options-dialog {
	-webkit-transform: rotateY(0deg);	
	-webkit-backface-visibility: hidden;
}

.options-on .v-openlayersmap {
	-webkit-transform: rotateY(-180deg);	
	-webkit-backface-visibility: hidden;
}

/* Bigger font for buttons in nav bar (we use unicode characters as icons in this app) */
.v-touchkit-navbar .v-button-caption {
	font-size: 26px;
}

/* TabbarView not scrollable by default */
.v-touchkit-tabbar-wrapper {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	right: 0;
	left: 0;
	top: 0;
	bottom: 42px;
	position: absolute;
}

/* OL styling */
div.olControlAttribution {
	bottom: 2px;
	text-shadow: 1px 1px white;
}

div.olControlZoomPanel {
	top: 3px;
	left: 3px;	
}

div.olControlZoomPanel .olControlZoomInItemInactive,
div.olControlZoomPanel .olControlZoomOutItemInactive {
    background: rgba(0,0,0,0.2);
    position: absolute;
    width: 35px;
	height: 35px;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    border-radius: 5px 5px 0 0;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    border-radius: 0 0 5px 5px ;
    top: 37px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after ,
div.olControlZoomPanel .olControlZoomInItemInactive:after{
    font-weight: bold;
    content   : '+';
    font-size : 36px;
    padding-left: 7px;
    z-index: 2000;
    color     : #fff;
    line-height: 26px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after{
    content: '-';
    line-height: 25px;
    padding-left: 11px;
    text-align:center;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}